@page "/"
@using RowCardMgmtApp.Pages

<h1>Row Card Management Site</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <StartGameForm Configuration="@configuration" StartGameCallback="HandleValidSubmit" />
        </div>
    </div>
</div>

@code {


    private StartGameConfiguration configuration = new StartGameConfiguration();

    private Task HandleValidSubmit()
    {
        Console.WriteLine($"Start game with {configuration.NumberOfPlayers} and with {configuration.NumberOfRealPlayers} real players");

        return Task.CompletedTask;
    }
}
