@page "/"

<h1>Row Card Management Site</h1>

<EditForm Model="@Configuration" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="token" class="col-8">Token</label>
        <InputText id="token" class="form-control col-8" @bind-Value="Configuration.Token" placeholder="Token" autocomplete="on" />
    </div>

    <div class="form-group">
        <label for="numberOfPlayers" class="col-8">Anzahl Spieler</label>
        <InputNumber id="numberOfPlayers" class="form-control col-8" @bind-Value="Configuration.NumberOfPlayers" step="1" />
    </div>
    
    <div class="form-group">
        <label for="numberOfRealPlayers" class="col-8">Anzahl echte Spieler</label>
        <InputNumber id="numberOfRealPlayers" class="form-control col-8" @bind-Value="Configuration.NumberOfRealPlayers" step="1" />
    </div>

    <button class="btn btn-primary">Start</button>
</EditForm>

@code {

    [Parameter]
    public StartGameConfiguration Configuration { get; set; }

    [Parameter]
    public EventCallback StartGameCallback { get; set; }

    private async Task HandleValidSubmit()
    {
        await StartGameCallback.InvokeAsync(0);
    }
}