<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Game-Status</h5>
        <strong>@Status</strong>
    </div>

</div>

@code {
    [Parameter]
    public string Status { get; set; }
}
